<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
<!DOCTYPE html>

<html>


<head>
  <title> RookieHack Wizard Generator </title>
  <h2 style="text-align: center;">Jupiterian and Mercurial's RookieHack<br /><em><strong style="color:orange">Work in Progress</strong></em></h2>
</head>
<p>&nbsp;This is the ongoing workspace for whatever Jeff and Grace manage to make over fourty-eight hours. It could be a mess. It could be basically nothing. But that will be a glorious fourty-eight hours where they neglect their actual responsibilities to try and learn something new. <em>Wonderful</em>.&nbsp;</p>
<!--p>&nbsp;</p -->
<p>Ideally, the wizard generator will pull from a database to provide details of a new, randomly generated magus each time. An even cooler improvement on that would be additional visuals or looking at procedural text generation on top of that, or maybe use of text scraping to create odd quotes from each mage. We'll see!</p>

<p style="text-align: center;">&#128171 &#128760	&#128125 &#128760 &#128171</p>
<div style="background-color: #e47a50; padding: 10px; border: 1px solid red;">

  <h3 style="text-align: center; color:white"><i>Wizard Generator</i></h3>

    <div id="wizardDisplay">
      <!-- The main paragraph created by the generator will appear here -->
      %s
    </div>

</div>
<p style="text-align: center;">
  <button type="button" name="button" onclick="window.location.reload();">Make a Wizard!</button>
  <!-- script-- src="javascript.js"></script -->
</p>
<p style="text-align: center;">&#128171 &#128760	&#128125 &#128760 &#128171</p>

<p style="text-align: center;"> This first generator was built using HTML and javascript, utilising <a href="https://www.freecodecamp.org/news/creating-a-bare-bones-quote-generator-with-javascript-and-html-for-absolute-beginners-5264e1725f08/">this</a> tutorial. </p>
</html>
